// ---------------------------------------------------------------------------
// Imports
@import "includes/settings";

/* -------------------------------------------------------------------------*/
/* Form Inline */

@mixin input-border {
	border: 1px solid #888;
}

@mixin button-style-1 {
	background-color: #2ba6cb;
	color: #fff;
}

.field {
	@include pie-clearfix;
	clear: both;
	margin: 6px 0;
}

fieldset {
	border: 0;
	padding: 0;
	margin: 0;
}

label {
	@include span-columns(2, 9);

	@include at-breakpoint(0 1023px $total-columns) {
		@include span-columns(2, $total-columns);
	}

	@include at-breakpoint(0 767px $mobile-columns) {
		@include span-columns(6 omega, $mobile-columns);
		text-align: left;
		padding: 5px 0;
	}

	float: left;
	display: inline-block;
	text-align: right;
	font-size: 16px;
}

input,
select,
textarea {
	@include span-columns(7 omega, 9);

	@include at-breakpoint(0 1023px $total-columns) {
		@include span-columns(10 omega, $total-columns);
	}

	@include at-breakpoint(0 767px $mobile-columns) {
		@include span-columns(6 omega, $mobile-columns);
		clear: both;
	}

	float: left;
	display: inline-block;
	border: none;
	padding: 8px 6px;
	margin: 0;
	background-color: $input-color;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	outline: none;
}

.buttons {
	float: right;
	button {
		@include button-style-1;
		border: 0;
		border-radius: 0;
		display: inline-block;
		cursor: pointer;
		margin: 0;
		padding: 0 10px;
		height: 34px;
	}
}

.error {
	@include at-breakpoint(0 1023px $mobile-columns) {
		position: relative;
		float: left;
		background-color: transparent;
		border: none;
		padding: 8px 0;
	}

	color: #d90909;
	background-color: #fff;
	border: 1px solid #d90909;
	padding: 8px 20px;
	font-size: 14px;
	position: absolute;
	z-index: 10;
	text-align: left;
	margin: 0;
	width: auto;
}