/* Home Slideshow */
.slideshow {
	clear: both;
	float: none;
	width: 100%;
	background-color: $primary-color;
}

.slide-item {
	width: 100%;
	margin: 0 auto;
	position: relative;
}

.cycle-slideshow,
.cycle-slideshow * {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

/* slideshow images (for most of the demos, these are the actual "slides") */
.slide-item img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	padding: 0;
	display: block;
}

/* in case script does not load */
.cycle-slideshow img:first-child {
	position: static;
	z-index: 100;
}

/* pager */
.cycle-pager {
	text-align: center;
	width: 100%;
	z-index: 500;
	position: absolute;
	bottom: 10px;
	overflow: hidden;
}

.cycle-pager span {
	font-size: 50px;
	display: inline-block;
	color: #ddd;
	cursor: pointer;
	vertical-align: middle;
}

.cycle-pager span.cycle-pager-active {
	color: #D69746;
}

.cycle-pager > * {
	cursor: pointer;
}

/* Generic page Hero */
.hero-wrapper {
	div {
		background: url(../images/hero-img.jpg) no-repeat center top $primary-color;
		width: 100%;
		height: 210px;
	}
}