/***************** SIDEBAR & PROMO-BOXES *****************/
.promo-boxes-1,
.promo-boxes-2 {
	@include pie-clearfix;
	padding: 0;

	figure {
		position: relative;
		margin: 0;
	}

	img {
		width: 100%;
		height: auto;
	}

	figcaption {
		position: absolute;
		bottom: 0;
		left: 0;
		padding: 10px;
		background-color: $primary-color;
	}
}

/* PROMO-BOX HOMEPAGE */
.promo-boxes-1 {
	margin: 20px 0;

	.promo-box {
		@include span-columns(3, $total-columns);
		display: inline-block;

		&:last-child {
			@include span-columns(3 omega, $total-columns);
		}
	}
}

/* PROMO-BOX SIDEBAR */
.promo-boxes-2 {
	.promo-box {
		@include span-columns(3, 3);
		display: block;
		margin-bottom: 5px;
	}
}

/* SOCIAL ICONS */
.social-icons li {
	display: inline-block;
	list-style: none;

	a {
		width: 32px;
		height: 32px;
		text-indent: 100%;
		white-space: nowrap;
		overflow: hidden;
	}
}

$icons:(facebook, twitter, youtube);
@each $social in $icons {
	.#{$social} {background:url("../images/#{$social}.png;") no-repeat;}
}