// ---------------------------------------------------------------------------
// Imports
@import "susy";
@import "compass/typography/text/replacement";
@import "compass/css3/box-sizing";
@import "buttons";
@import "sassy-buttons";

@import "social/*.png";
@include all-social-sprites;

/* Grids */
$total-columns: 12;
$mobile-columns: 6;
$column-width: 60px;
$gutter-width: 20px;
$grid-padding: 10px;/* $gutter-width */
$show-grid-backgrounds: false;
$container-style: fluid;

/* Main Colours */
$primary-color: #888;
$secondary-color: #ffefc4;

/* Fonts */
$text-color: #333;
$primary-font: Arial, sans-serif;
$font-size: 16px;
$button-color: #2ba6cb;